<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <context:component-scan base-package="by.java.training.spring.*" />

    <aop:config>
        <aop:aspect id="log" ref="myLogger">
            <aop:pointcut id="getValue" expression="execution(* by.java.training.spring.objects.SomeService.*(..))" />
            <aop:before pointcut-ref="getValue" method="init" />
            <aop:after pointcut-ref="getValue" method="close" />
            <aop:after-returning pointcut-ref="getValue" returning="obj" method="printValue" />
        </aop:aspect>
    </aop:config>


</beans>